* {
    margin: 0;
    padding: 0;
}
body {
    background: blue;

}
.container {
    display: flex;
    justify-content: center;
    height: 100%;
}
.name {
    display:flex;
    justify-content: center;
}
.title {
    width: 100%;
    padding-top: 30px;
    color: #fff;
    border-bottom: 1px solid #fff;

}
.title h1 {
    font-size: 2.5rem;
    color: yellow;
}

.section-content h2 {
    margin: 10px 0;
    color: red;
    border-bottom: 1px solid #fff;
}
.section-content p {
    font-size: 1.3rem;
    color: #fff;
}
#grid {
    width: 400px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
}
.buttonReset {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 5px;
    background: yellowgreen;
    font-size: 1.5rem;
}

@media (max-width: 600px) {
    #grid {
        width: 300px;
    }
    .title {
        width: 100%;
        padding-top: 5px;
        color: #fff;
        border-bottom: 1px solid #fff;
    
    }
    .title h2 {
        font-size: 1.5rem;
    }
    .section-content h2 {
        margin: 2px 0;
    }
    .buttonReset {
        display: flex;
        justify-content: center;
        padding:2px;
        margin-top: 10px;
        font-size: 1.2rem;
        position: relative;
        top:92px;
    }
}