* {
    margin: 0;
    padding: 0;
}
body {
    background: blue;

}
.container {
    display: flex;
    justify-content: center;
    height: 100%;
}
.name {
    display:flex;
    justify-content: center;
}
.title {
    padding: 30px;
    color: #fff;
}
.section-content {
    margin: 10px;
}
.section-content h2 {
    margin: 40px 0;
    color: #fff;
}
#grid {
    width: 400px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: 600px) {
    #grid {
        width: 300px;
    }
}